<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Classic CRM Testing">
  <test thread-count="5" name="End toEnd">
    <classes>
      <class name="com.classic.crmpro.test.HomePage"/>
      <class name="com.classic.crmpro.test.LoginPage">
      <methods>
      <exclude name="logoTest"></exclude>
      </methods>
      </class>
    </classes>
  </test> <!-- End toEnd -->
</suite> <!-- Classic CRM Testing -->
